.brand-link {
    font-weight: 300;
    text-decoration: none;
}

.btn-group .dropdown-toggle::after {
    display: none;
}

aside .sidebar {
    padding-left: 0;
}

aside .sidebar .nav-item {
    padding-left: 0.5rem;
}

aside .sidebar .nav-header {
    color: rgb(110, 109, 109);
}

/**
 * The animation of the arrow in forms
 *
*/
a[data-object=expandable] {
    vertical-align: inherit;
}

a[data-object=expandable] > span,
a[data-object=expandable] + span {
    display: inline-block;
    transition: all .3s ease-in-out;
}

a[data-object=expandable]:hover > span,
a[data-object=expandable]:hover + span {
    transform: translateX(0%);
}

a[data-object=expandable] > span {
    position: relative;
    z-index: -1;
    padding-left: 0.5rem;
    transform: translateX(-60%);
}

a[data-object=expandable]:hover > span {
    z-index: 1;
}

a[data-object=expandable] + span {
    transform: translateX(-80px);
}